.cpcache/
.clj-kondo/.cache
.lsp/.cache
.calva/

target/
classes/
pom.xml
*.jar
*.class
*.cljs.js
*.cljs.cache.json

.nrepl-port

data/

.DS_Store
Thumbs.db
*.swp
*~

.idea/
*.iml

web/node_modules/
web/dist/
